*
{
	margin:0;
	padding:0;
}
body
{
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
	url(images/background.jpg);
	background-position: center;
	background-size: cover;
}

.header
{
	height: 10%;
}
.logo
{
width: 150px;
margin-top: 18px;
border-radius: 50%;
}
.header-btn
{
	text-decoration: none !important;
	border-radius: 30px;
	padding:7px 20px;
	float:right;
	margin-top:15px;
	color:#fff !important;
	background: #107afd;
	font-weight: 500;
}

.movie-details
{
	margin:3% 0;
}
.left-box
{
	color:#fff;
	margin-left:90px;
	padding:20px;
}
.casting img
{
height: 60px;
width: 60px;
margin-right: 10px;
cursor:pointer;
}
.left-box a
{
	text-decoration: none !important;
	border-radius: 30px;
	padding:7px 10px;
	margin-top: 15px;
	color:#fff !important;
	background: #107afd;
	font-weight: 500;
	display:inline-block;
	margin-top: 35px;
}
.download-btn
{
	border:1px solid #fff !important;
	background: transparent !important;
}
.fa
{
	margin: 0 5px;
}
.movie-img
{
	height: 350px;
	box-shadow: -4px 4px 5px 0 #000;
	margin-left:1000px;	
	margin-top: -300px;
}
.series h3
{
	color:#fff;
}
.series img
{
	width:100%;
	margin-top: 15px;
	cursor:pointer;
	box-shadow: -4px 4px 5px 0 #000;
	transition:1s;
}
.series img:hover
{
	transform:translateY(-10px);
}
 .footer h4
{
	color: #fff;
	margin-top:40px;
}

#simple {
 
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  float:right;
  color: #fff;
  transform:1s;
}
#simple:hover
{
	background:#990000;
	transform:translateY(-10px);
}

.sidenav
{
	background-color:;
	background-repeat: no-repeat;
	
	display: none;
	z-index:1;
	overflow-x: hidden;
	top:0;
	left: 0;
	height: 100%;
	width:150px;
	padding-top:60px;
	position: fixed;
}
 
span
{
	color: green;
	
}
.sidenav a
{
display:block;
text-decoration: none;
font-size:18px;
padding:20px 18px 8px 22px;
color:  #e60000;
}
.sidenav a:hover
{
	background-color:black;
	display:box;
}
